﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <!--<metaxxx name="viewport" content="width=device-width">-->
    <title>@ViewBag.Title - ECOSoftWiki</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @{
        ECOSoft.ECOSoftWiki.MVC.ViewHelper vh = ViewBag.ViewHelper;
    }
</head>
<body>
    <div class="container">
        <div class="container max">
            <header>
                <a href="/">
                    <div class="left" id="img-box">
                        <img alt="ECOSoftWiki" class="logo" title="ECOSoftWiki" src="~/Images/eco-soft128.png">
                    </div>
                </a>
                <div class="v-align">
                    <div class="header-dropdown dropdown-round user-icon right" title="User">
                        <div class="dropdown-invisible"></div>
                        <div class="dropdown-round-content" id="dd-login">
                            @*@Html.Partial("_LogOnPartial")*@
                        </div>
                    </div>
                    <div class="dropdown-round menu right" style="margin-right:60px">
                        <div style="height: 5px;">&nbsp;</div>
                        @Html.ActionLink("Basisdaten", "Index", "Basisdaten")
                        <div class="dropdown-round-invisible"></div>
                        <div class="dropdown-round-content" id="dd-stammdaten">
                            @Html.ActionLink("Mandanteninfo", "Mandant", "Basisdaten")
                            @Html.ActionLink("Kundenkriterien", "Kundenkriterien", "Basisdaten")
                            @Html.ActionLink("Projektkriterien", "Projektkriterien", "Basisdaten")
                            @Html.ActionLink("Zuständigkeiten", "Zustaendigkeiten", "Basisdaten")
                            @Html.ActionLink("Kampagnen", "Kampagnen", "Basisdaten")
                            @Html.ActionLink("Projektgruppen", "Projektgruppen", "Basisdaten")
                            @Html.ActionLink("Artikelgruppen", "Artikelgruppen", "Basisdaten")
                            @Html.ActionLink("Projektstatus", "Projektstatus", "Basisdaten")
                        </div>
                    </div>
                    <div class="dropdown-round menu right">
                        <div style="height: 5px;">&nbsp;</div>
                        @Html.ActionLink("Auswertung", "Index", "Auswertung")
                        <div class="dropdown-round-invisible"></div>
                        <div class="dropdown-round-content" id="dd-stammdaten">
                            @Html.ActionLink("Auswertung", "Auswertung", "Auswertung")
                            @Html.ActionLink("File Manager", "FileManager", "Auswertung")
                            @Html.ActionLink("Mitarbeiter Stunden", "MitarbeiterStunden", "Auswertung")
                            @Html.ActionLink("Telefonliste", "TelefonListe", "Auswertung")
                        </div>
                    </div>
                    <div class="dropdown-round menu right">
                        <div style="height: 5px;">&nbsp;</div>
                        @Html.ActionLink("Abrechnung", "Index", "Rechnung")
                        <div class="dropdown-round-invisible"></div>
                        <div class="dropdown-round-content" id="dd-stammdaten">
                            @Html.ActionLink("Verrechnung", "Abrechnung", "Rechnung")
                            @Html.ActionLink("Rechnungsjournal", "Rechnungsjournal", "Rechnung")
                            @Html.ActionLink("Zahlungsüberwachnung", "Zahlungsueberwachnung", "Rechnung")
                            @Html.ActionLink("Mahnungen", "MahnungList", "Rechnung")
                            @Html.ActionLink("Spesenabrechung", "Spesenabrechnung", "Rechnung")
                            @Html.ActionLink("Sonstige Ausgaben", "Ausgaben", "Rechnung")
                        </div>
                    </div>
                    <div class="dropdown-round menu right">
                        <div style="height: 5px;">&nbsp;</div>
                        @Html.ActionLink("Termine", "Kalender", "Termin")
                        <div class="dropdown-round-invisible"></div>
                        <div class="dropdown-round-content" id="dd-stammdaten">
                            @Html.ActionLink("Termine", "Kalender", "Termin")
                            @Html.ActionLink("Termin Plan", "TerminPlan", "Termin")
                            @Html.ActionLink("Config", "Config", "Termin")
                        </div>
                    </div>
                    <div class="dropdown-round menu right">
                        <div style="height: 5px;">&nbsp;</div>
                        @Html.ActionLink("Stammdaten", "Index", "Stammdaten")
                        <div class="dropdown-round-invisible"></div>
                        <div class="dropdown-round-content" id="dd-stammdaten">
                            @Html.ActionLink("Kunden", "Kunden", "Stammdaten")
                            @Html.ActionLink("Projekte", "Projekte", "Stammdaten")
                            @Html.ActionLink("Artikel", "ArtikelList", "Stammdaten")
                            @Html.ActionLink("Benutzerdaten", "MitarbeiterList", "Stammdaten")
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="breadcrumb">
            <div>
                <ul style="margin-left: -23px;">
                    @{ foreach (MvcHtmlString a in vh.Breadcrumbs)
                        {
                            <li>@a &gt; </li>
                        }
                    }
                    <li class="bold"> @ViewBag.Title</li>
                </ul>
            </div>
        </div>
        <div class="icontainer" id="content">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
