﻿<!DOCTYPE html>
<html style="background:#E6E6E6">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title - ECOSoftWiki</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @{
        ECOSoft.ECOSoftWiki.MVC.ViewHelper vh = ViewBag.ViewHelper;
    }
</head>
<body style="background:#E6E6E6">
    @RenderBody()
</body>
</html>