﻿@helper GetTreeView(List<ECOSoft.ECOSoftWiki.MVC.Models.Wiki.TreeViewModel> siteMenu, Guid parentID)
{
    foreach (var i in siteMenu.Where(a => a.Branch.ParentID.Equals(parentID)))
    {
        <li>
            @{var submenu = siteMenu.Where(a => a.Branch.ParentID.Equals(i.Branch.ID)).Count();}
            @if (submenu > 0)
            {
                @*<span class="collapse collapsible">&nbsp;</span>*@
            }
            else
            {
                @*<span style="width:15px; display:inline-block">&nbsp;</span>*@
            }            
            <div>
                <table class="collapse collapsible" data-content="@i.Branch.ID">
                    <colgroup>
                        <col width="20" />
                        <col width="180" />
                    </colgroup>
                    <tr>
                        <td><img id="IMG_@i.Branch.ID" style="vertical-align:text-bottom" src="~/Images/folder-horizontal.png"/></td>
                        <td><a href="@i.Branch.Name">@i.Branch.Name</a></td>
                    </tr>
                </table>
            </div>
            @if (submenu > 0)
            {
                <ul>
                    @TreeView.GetTreeView(siteMenu, i.Branch.ID)
                    @* Recursive  Call for Populate Sub items here*@
                </ul>
            }
        </li>
    }
}
