﻿@using ECOSoft.ECOSoftWiki.MVC.Extensions
<style>
    #treeview_iframe {
        width: 250px;
        height: 100%;
        overflow: auto;
        border: 0;
        position: fixed;
        border-right: solid 4px #638473;
    }    
</style>
@using (Html.BeginForm())
{
    <table>
        <colgroup>
            <col width="250"/>
            <col width="1200" />
        </colgroup>
        <tr>
            <td><iframe src="@Url.Action("NavigationTree", "Wiki")" id="treeview_iframe"></iframe></td>
            <td></td>
        </tr>
    </table>
}