﻿@{
    Layout = "~/Views/Shared/_Layout_iframe.cshtml";
}
@model List<ECOSoft.ECOSoftWiki.MVC.Models.Wiki.TreeViewModel>
<style>
    .collapse {
        background-repeat: no-repeat;
        background-position: -36px -17px;
        display: inline-block;
        cursor: pointer;
    }

    .expand {
        background-repeat: no-repeat;
        background-position: -50px -17px;
        display: inline-block;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".treeview li>ul").css('display', 'none'); // Hide all 2-level ul
            $(".collapsible").click(function (e) {
                e.preventDefault();
                    $(this).toggleClass("collapse expand");
                    $(this).closest('li').children('ul').slideToggle();
                    var id = $(this).attr('data-content');                    
                    if (!$(this).hasClass('collapse')) {
                        var img = $("#IMG_" + id).attr("src", "../Images/folder-horizontal-open.png");
                    } else {
                        var img = $("#IMG_" + id).attr("src", "../Images/folder-horizontal.png");
                    }
            });
        });
</script>
<div>
    <div class="treeview">
        @if (Model != null && Model.Count() > 0)
        {
            <ul>
                @TreeView.GetTreeView(Model, Model.FirstOrDefault().Branch.ParentID.Value)
            </ul>
            @*<ul>
                <li>
                    <img src="~/Images/source_code16.png"/>
                    <a href="ECOSoftWiki">ECOSoftWiki</a>
                    
                </li>
            </ul>*@
        }
    </div>
</div>