﻿@font-face {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #f8fff8; /* very light green */
    font: 13px/1.231 arial, helvetica, clean, sans-serif;
}

/*#region HEADER*/

header {
    color: #FFFFFF;
    margin: 0 0 0 0; /* TOP RIGHT BOTTOM LEFT */
}

    header .logo {
        margin-top:10px;
        width: 128px;
        height: 128px;
    }

    header #img-box { /* div container for the logo */
        margin: 0 0 0 17px;
        height: 148px;
    }

.header-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #000000;
}

.header-dropdown {
    width: 32px;
    height: 32px;
}

/*#endregion HEADER*/

/*#region CONTENT*/

#content {
    padding: 0 0 140px 0;
}

/*#endregion CONTENT*/

/*#region GLOBAL STYLES*/

.selectbutton {
    margin-left: 15px;
    width: 150px;
    vertical-align: top;
}

.vmiddle {
    vertical-align: middle;
}

.container {
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;
}

.icontainer {
    overflow-x: auto;
    overflow-y: auto;
}

.box {
    margin: 15px 0 0 15px;
    border-radius: 15px;
    padding: 15px;
    background-color: #E6E6E6;
}

    .box table tr td select {
        border: 1px gray solid;
    }

    .box input[type="text"], .box input[type="datetime"], .box input[type="number"], .box input[type="color" i], .box input[type="password" i], textarea {
        border: 1px gray solid;
        height: 20px;
        padding: 2.3px 2px 1px 2px;
    }

    .box select {
        border: 1px gray solid;
        height: 25px;
        padding: 2.3px 0 1px 2px;
    }

textarea {
    font: 13px/1.231 arial
}

input[type="submit"], .gray-button, input[type="button"] {
    background-color: #464849;
    border-color: #464849;
    color: #FFFFFF;
    border-radius: 8px;
    border: 3px #464849 solid;
    height: 30px;
    padding: 0 10px 1px 10px;
    transition-duration: 0.3s;
}

    input[type="submit"]:hover, .gray-button:hover, input[type="button"]:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        background-color: red;
        border-color: red;
    }


.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file, .select-file-text {
    font-size: 13px;
    color: #FFFFFF;
    display: inline-block;
    background-color: #464849;
    border-color: #464849;
    border-radius: 8px;
    border: 3px #464849 solid;
    padding: 0 10px 1px 10px;
    transition-duration: 0.3s;
    cursor: pointer;
    line-height: 25px;
}

    .input-file:hover, .select-file-text:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        background-color: #FF0000;
        border-color: #FF0000;
    }

    .input-file:focus, .select-file-text {
        outline: 1px dotted #000000;
        outline: -webkit-focus-ring-color auto 5px;
    }

.box input[type="submit"], .btn-save {
    background-color: #464849;
    border-color: #464849;
    color: #FFFFFF;
    border-radius: 8px;
    border: 3px #464849 solid;
    height: 30px;
    padding: 0 10px 1px 10px;
    transition-duration: 0.3s;
}

    .box input[type="submit"]:hover, .btn-save:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        background-color: red;
        border-color: red;
    }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.folder-icon {
    width: 16px;
    margin: 0 0 0 5px;
    text-decoration: none;
    background: url("/Images/folder.png") no-repeat 0;
}

.edit-list table {
    background-color: #E6E6E6;
}

.edit-list input[type="text"], .edit-list input[type="datetime"], .edit-list input[type="number"], textarea {
    border: 1px gray solid;
    height: 20px;
}

.edit-list select {
    border: 1px gray solid;
    height: 23px;
}

/* CHECKBOX STYLE */

input[type="number"] {
    -moz-appearance: textfield;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 18px;
    top: 5px;
}

    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: #EEEEEE;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #CCCCCC;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #E6E6E6;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 6.2px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* BREADCRUMB */

#breadcrumb {
    background-color: #638473;
    width: 100%;
    padding: 5px 0 5px 0;
    margin: 0 0 0 0;
    height: 20px;
}

    #breadcrumb ul {
        height: 20px;
        margin: 0;
    }

        #breadcrumb ul li {
            display: inline;
            color: #ffffff;
        }

            #breadcrumb ul li a {
                color: #ffffff;
                text-decoration: none;
            }

                #breadcrumb ul li a:hover {
                    text-decoration: underline;
                    color: #ffffff;
                }

/* SCROLLBAR STYLE */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #464849;
    border-radius: 10px;
    height: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #5B5F60;
    }

/* style fix for paging page */
.paging-fix {
    position: fixed;
    bottom: 0;
    margin-left: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* this styles only applies to browsers who are using Webkit (e.g. Google Chrome, Safari, Opera) */
    .box select {
        background: url("../../Images/down-arrow.png") no-repeat #FFFFFF;
        -webkit-appearance: none;
        background-position: right center;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* this styles only applies to browsers who are using Webkit (e.g. Google Chrome, Safari, Opera) */
    .iframe select {
        background: url("../../Images/down-arrow.png") no-repeat #FFFFFF;
        -webkit-appearance: none;
        background-position: right center;
    }
}

/*Muss sich an dieser Position im CSS File befinden ansonsten Fehler in MOZ Firefox*/
.height-fix { /* style for fixing the td heights in planung calendar*/
    width: 50px;
    height: 60px;
}

@-moz-document url-prefix() {
    /* this styles only applies to firefox */
    .box select {
        background: url("../../Images/down-arrow.png") no-repeat #FFFFFF;
        border: 1px gray solid;
        height: 24px;
        padding: 0 0 1px 2px;
        background-position: right center;
    }

        .box select * {
            color: #000000;
            text-shadow: none;
        }

    .height-fix { /* style for fixing the td heights in planung calendar*/
        width: 50px;
        height: 100%;
        min-height: 65px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* this styles only applies to internet explorer 10+ */
    .box select {
        background: url("../../Images/down-arrow.png") no-repeat #FFFFFF;
        border: 1px gray solid;
        height: 24px;
        padding: 0 0 1px 2px;
        background-position: right center;
    }

    select::-ms-expand {
        display: none;
    }
}

input::-webkit-input-placeholder { /* placeholder for webkit engine browser */
    color: #000000;
    opacity: 0.3;
}

/* LIST ALTERNATING COLORS */

tr.belegodd td {
    background: #F4F4F4;
    border-bottom: 1px solid #f0f0f0;
}

tr.sublistEven td {
    background: #F5F5F5;
    border-bottom: 1px solid #f0f0f0;
}

tr.belegeven td {
    background: #D9E4EC;
    border-bottom: 1px solid #f0f0f0;
}

/* GENERAL STYLES */

.filter-container {
    display: block;
}


    .filter-container select {
        padding-right: 15px;
    }

.left {
    float: left;
}

.right {
    float: right;
}

.max {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.v-align {
    width: 100%;
    height: 82px;
    position: absolute;
}

.dropdown-round a {
    text-decoration: none;
    color: #FFFFFF;
}

table {
    border-spacing: 0px;
}

.user-icon {
    background: url("/Images/user.png") no-repeat 0;
    margin: 48px 13px 0 -150px;
}

.file-upload-button {
    padding: 2px;
    margin: 0 0 1px 0;
    background-color: #E6E6E6;
    border: 1px solid #A5A5A5;
    cursor: pointer;
}

/*#endregion GLOBAL STYLES*/

/* #region TABS */

#sidebar {
    margin: 30px 0 0 0;
    user-select: none;
    width: 250px;
    position: relative;
    right: 40px;
    float: left;
}

    #sidebar ul {
        list-style: none;
    }

    #sidebar .tabBtn {
        margin: 2px 0 0 0;
        padding: 10px;
        background-color: #E6E6E6;
        border: 1px solid #E6E6E6;
        border-radius: 0 15px 15px 0;
        transition: 0.2s;
    }

    #sidebar .active {
        border-bottom: 1px solid #464849;
    }

        #sidebar .active div {
            float: right;
            position: relative;
            left: 11px;
            bottom: 11px;
            background-color: #464849;
            border-radius: 0 15px 15px 0;
            border: 1px solid #464849;
            height: 36px;
            width: 30px;
        }

    #sidebar .tabBtn:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }

.tabcontent {
    display: none;
}

/* #endregion TABS */

/*#region MEDIA QUERIES*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* footer fix because internet explorer is a great browser :3 */
    .footer-container .master-page {
        margin-top: 20px;
    }
}

/*#endregion MEDIA QUERIES*/

/* #region STAMMDATEN */

#login-box {
    width: 90%;
    height: 450px;
}

hr {
    height: .25rem;
    width: 100%;
    margin: 0;
    background: #444444;
    border: none;
    transition: .3s ease;
}

.table-margin-left {
    margin-left: 15px;
}

/* #endregion STAMMDATEN */

/* #region gutes Dropdown (active) */

.dropdown-round {
    position: relative;
    display: inline-block;
}

.dropdown-round-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 16px;
    margin: -40px 0 0 -60px;
    z-index: 80;
}

    .dropdown-round-content a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 10px 16px;
    }

        .dropdown-round-content a:hover {
            background-color: #f1f1f1
        }

.dropdown-round:hover .dropdown-round-content {
    display: block;
}

.dropdown-round:hover .dropdown-round-invisible {
    display: block;
}

.dropdown-invisible {
    display: none;
    height: 50px;
    width: 40px;
}

.dropdown-round #dd-login {
    margin: 0 0 0 -150px;
}

.dropdown-round #dd-marketing {
    margin: -40px 0 0 -60px;
}

.dropdown-round #dd-planung {
    margin: -20px 0 0 -60px;
}

.dropdown-round #dd-preise {
    margin: -40px 0 0 -75px;
}

.dropdown-round #dd-stammdaten {
    margin: -40px 0 0 -50px;
}

.dropdown-round-invisible {
    display: none;
    height: 50px;
    width: 40px;
}

.menu {
    background-color: #464849;
    border-color: #464849;
    color: #FFFFFF;
    border-radius: 8px;
    border: 3px #464849 solid;
    height: 25px;
    width: auto;
    margin: 44px 0 0 0;
    padding: 4px 12px 4px 12px;
    margin-left: 5px;
    transition-duration: 0.3s;
}

    .menu:hover {
        text-align: center;
        background-color: red;
        border-color: red;
    }

    .menu .label {
        margin: 15px 0 -15px 0;
    }

    .treeview {

    }

        .treeview ul {
            list-style-type: none;
            margin-left: -25px;
            margin-right: 0;
        }

        .treeview ul li a {
            color:black;
            text-decoration:none;
        }

/* #endregion */

/* #region lform*/

.lform {
    float: left;
}

    .lform input, .lform select {
        width: 250px;
        border: 1px gray solid;
        height: 25px;
        padding: 2.3px 0 1px 2px;
        font: 13.5px/1.5 'DaxlineWeb-Light';
    }

.lformTableSpace3 tr {
    border-bottom: 0 none #fff;
    margin: 0;
    padding: 0;
}

    .lformTableSpace3 tr td {
        border-bottom: 0 none #fff;
        margin: 0 3px 0 15px;
        padding: 0 3px 0 3px;
    }

        .lformTableSpace3 tr td a {
            color: #55f;
        }

.colorT, .colorT td a {
    color: #997777;
}

.TDNum input {
    text-align: right;
}

.TDNum select {
    text-align: right;
}

.lformTD20 input {
    padding: 1px;
    width: 16px;
}

.lformTD20 select {
    width: 20px;
}

.lformTD40 input {
    padding: 1px;
    width: 36px;
}

.lformTD40 select {
    width: 40px;
}

.lformTD50 input {
    padding: 1px;
    width: 46px;
}

.lformTD50 select {
    width: 50px;
}

.lformTD60 input {
    padding: 1px;
    width: 56px;
}

.lformTD60 select {
    width: 60px;
}

.lformTD80 input {
    padding: 1px;
    width: 76px;
}

.lformTD80 select {
    width: 80px;
}

.lformTD90 input {
    padding: 1px;
    width: 86px;
}

.lformTD90 select {
    width: 90px;
}

.lformTD95 input {
    padding: 1px;
    width: 90px;
}

.lformTD95 select {
    width: 94px;
}

.lformTD100 input {
    padding: 1px;
    width: 96px;
}

.lformTD100 select {
    width: 100px;
}

.lformTD120 input {
    padding: 1px;
    width: 116px;
}

.lformTD120 select {
    width: 120px;
}


.lformTD150 input {
    padding: 1px;
    width: 146px;
}

.lformTD150 select {
    width: 150px;
}

.lformTD160 input {
    padding: 1px;
    width: 156px;
}

.lformTD160 select {
    width: 160px;
}

.lformTD170 input {
    padding: 1px;
    width: 166px;
}

.lformTD170 select {
    width: 170px;
}

.lformTD180 input {
    padding: 1px;
    width: 176px;
}

.lformTD180 select {
    width: 180px;
}

.lformTD200 input {
    padding: 1px;
    width: 196px;
}

.lformTD200 select {
    width: 200px;
}

.lformTD230 input {
    padding: 1px;
    width: 226px;
}

.lformTD230 select {
    width: 230px;
}

.lformTD250 input {
    padding: 1px;
    width: 246px;
}

.lformTD250 select {
    width: 250px;
}

.lformTD265 input {
    padding: 1px;
    width: 264px;
}

.lformTD270 select {
    width: 268px;
}

.lformTD300 input {
    padding: 1px;
    width: 296px;
}

.lformTD300 select {
    width: 300px;
}

.lformTD330 input {
    padding: 1px;
    width: 326px;
}

.lformTD330 select {
    width: 330px;
}

.lformTD350 input {
    padding: 1px;
    width: 346px;
}

.lformTD350 select {
    width: 350px;
}

.lformTD400 input {
    padding: 1px;
    width: 396px;
}

.lformTD400 select {
    width: 400px;
}

.lformTD480 input {
    padding: 1px;
    width: 476px;
}

.lformTD480 select {
    width: 480px;
}

.lformTD500 input {
    padding: 1px;
    width: 496px;
}

.lformTD500 select {
    width: 500px;
}

.lformTD860 input {
    padding: 1px;
    width: 856px;
}

.lformTD860 select {
    width: 860px;
}

.tblShorten90 {
    white-space: nowrap;
    overflow: hidden;
    width: 90px;
    max-width: 90px;
    text-overflow: ellipsis;
}

.tblShorten210 {
    white-space: nowrap;
    overflow: hidden;
    width: 210px;
    max-width: 210px;
    text-overflow: ellipsis;
}

.tblShorten250 {
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
    max-width: 250px;
    text-overflow: ellipsis;
}

.tblShorten300 {
    white-space: nowrap;
    overflow: hidden;
    width: 300px;
    max-width: 300px;
    text-overflow: ellipsis;
}

/*#endregion*/
